*{
    padding:0px;
    margin=0px;
    box-sizing: border-box;
}
.container1 
{
 
    height:30vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
   
}
.container2
{
    height:10vh;
    display:flex;
    flex-direction:row;
    justify-content: end;
    gap:10px;
    flex-wrap: wrap;
}
/* .container3
{
    height:10vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-color: black;
    
    border-radius: 20px;
    background-color: rgb(75, 71, 71);
    margin-top: 0px;
    padding-top: 0px;
    
}
form{

    display:flex;
    justify-content:center;
    align-items:center;
    width:60px;
    border-radius: 20px;
} */

.container3 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input {
    width: 600px;             
    height: 45px;              
    border-radius: 24px;      
    border: 1px solid #dfe1e5; 
    padding: 0 20px;           
    font-size: 16px;
    background-color: white;   
    outline: none;            
}
#logo
{
    width :300px;
}