.container1 
{
 
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

#logo
{
    height : 50px;
    width :100px;
}